/* Red Borders Everywhere */

/** {border: 1px solid red;}*/

body {
	background: #f6f6f6;
}

img#photo {
	display: block;
	margin: 0 auto;
	height: auto;
	max-width: 30%;
	border-radius: 2.5em;
	padding: 1em;
}

img#navphoto {
	float: right;
	margin-right: 2em;
	height: auto;
	max-width: 9%;
	border-radius: 1.25em;
}

nav {
	margin: 0 0;
	clear: right;
}

nav#bar {
	text-align: center;

}

nav#bar ul {
background: #eaeaea;

}

nav#bar ul li{
	display: inline-block;
}

nav#bar ul li a{
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #000000;
	background: #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:17px;
	padding:0.25em 0.5em;
	text-decoration:none;
}


h1 {
	text-align: center;
	font-family: 'Quattrocento', serif;
	font-size: 3.5em;
	background: #eaeaea;
}

h2 {
	text-align: left;
	margin-left: 1em;
	font-family: 'Quattrocento', serif;
	font-size: 2.5em;

}



p#caption {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5em;
	border-radius:10px;
	border:2px solid #000000;
}
