/* Red Borders Everywhere */
/** {border: 1px solid red;}*/

h1 {
	text-align: center;
	font-family: 'Quattrocento', serif;
	font-size: 2em;
	background: #eaeaea;
}

h2 {
	margin-left: 1em;
	font-family: 'Quattrocento', serif;
	font-size: 2.5em;
}

h3 {
	font-family: 'Quattrocento', serif;
	font-size: 2.5em;
}

.about-caption {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5em;
	border-radius:10px;
	border:1px solid #000000;
}
