/* Font Selector */
/* font-family: 'Quattrocento', serif;

/* Red Borders Everywhere */

/** {border: 1px solid red;}*/

nav {
	margin: 0 0;
	clear: right;
}

nav#bar {
	text-align: center;

}

nav#bar ul {
background: #eaeaea;

}

nav#bar ul li{
	display: inline-block;
}




h1 {
	text-align: center;

	font-size: 3.5em;
	background: #eaeaea;
}

h2 {
	text-align: left;
	margin-left: 1em;
	font-family: 'Quattrocento', serif;
	font-size: 2.5em;

}



.about-caption {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5em;
	border-radius:10px;
	border:1px solid #000000;
}
